.userInfo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user img {
  width: 50px; /* Change this value to adjust the width of the avatar */
  height: 50px; /* Change this value to adjust the height of the avatar */
  border-radius: 50%; /* Makes the avatar round */
  margin-right: 10px; /* Optional: adds some space between the avatar and the text */
  object-fit: cover; 
}

.icons{
  display: flex;
  gap: 12px;

}

.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}